/*------------ variables -----------*/
$main-color: #E4E4E4;
$site-color: #273238;
$redish: #EF4658;
/*------------ variables -----------*/

/*------------ Inheritances----------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-size {
  width: 100%;
  height: 100vh;
}

/*------------ Inheritances----------*/

body{
  color: magenta;
}
/*------------Progressbar oppe i toppen----------*/
#progress {
      --scroll: 0%;
      background: linear-gradient(to right,rgb(21, 109, 232) var(--scroll),transparent 0);
      position: fixed;
      width: 100%;
      height: 5px;
      top:0px;
      z-index: 100;
  }
